{% extends "base.html" %}

{% block content %}
    <h1>New Post!</h1>
    <form method='post'>
        <label>
            New Task:
            <input type="text" name='post' />
        </label>
        <input type="submit" value='Add Post' />
    </form>

    <hr />

    {% if posts|length == 0 %}
    <p>No post yet</p>
    {% else %}

        <ul>
            {% for post in posts %}
            <li>{{post.name}}
                <form method="POST" action="/delete-post" style="display:inline-block;">
                    <input type="hidden" name="post-id" value="{{post.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}