{% extends "base.html" %}

{% block content %}
    <h1>New Post!</h1>
    <form method='post'>
        <label>
            Title for Your New Post:
            <input type="text" name='title' value="{{title}}" />
        </label>
        <p style="color:red;">{{title_error}}</p>
        <label>
            Your Post:
            <textarea name="body" id="" cols="30" rows="10" value="{{body}}"></textarea>
            
        </label>
        <p style="color:red;">{{body_error}}</p>
        <input type="submit" value='Add Post' />
    </form>

{% endblock %}